.hero{
    background-image: url('../../assets/img/heroBanner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 719px;
    padding-bottom: 49px;
}
.hero__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.hero__title {
    margin-top: 60px;
    color: #FFFFFF;
    font-weight: 700;
font-size: 55px;
line-height: 67px;
}
.hero__list {
    margin-top: 30px;
}
.hero__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #FFFFFF;
    margin-top: 24px;
img {
    width: 21px;
    height: 21px;
    object-fit: cover;
}
p{
    width: 548px;
    margin-left: 13px;
    font-size: 19px;
line-height: 24px;
font-weight: 400;

}
}

.hero__btn {
    margin-top: 50px;
    padding: 17px 35px 17px 30px;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    color: #FFFFFF;
    background: #E4183B;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    border: none;
    transition: all ease 0.3s;
    cursor: pointer;
     i {
        margin-left: 20px;
        font-size: 27px;
     }

     &:hover{
        background-color: #f3e6e6;
        color: #E4183B;
     }
}